# PhpStorm
/.idea

# Syncthing
/.stversions
/.stignore
/.stfolder

# Visual Studio Code
/.vscode

# Node
/node_modules
/package-lock.json

# macOS
.DS_Store

# Obsidian
/.obsidian
/.trash

/_assets/libs/fontawesome/
