/* 全局样式 - start */
.icon.fa-fw {
  width: 1.28571429em;
}
nav img {
  vertical-align: text-bottom;
}
i[class^=ri] {
  vertical-align: bottom;
}

/* 修改 h4 标题字体上下空间排列密集的问题 */
.markdown-section h4 {
  margin: 20px 0 0.6rem!important;
}
/* 全局样式 - end */

/* 解决引用 primer.css 样式对原有样式的改写 */
primer.css,
a {
  text-decoration: underline;
}
primer.css,
.docsify-copy-code-button span {
  border: none;
}

/* 固定导航栏 */
nav.app-nav {
  margin: 0!important;
  padding: 11px 0 11px 0;
  width: calc(100% - 300px);
  backdrop-filter: saturate(180%) blur(.4rem);
/*  background-color: inherit;*/
/*  background-color: var(--docsify_dark_mode_bg, #fff);*/
/*  border-bottom: 1px solid rgba(0,0,0,0.07);*/
/*   rgba(0,0,0,0.07) == #eee */
/*  border-bottom: 1px dotted rgb(180 180 180 / 30%);*/
/*  box-shadow: rgba(140, 149, 159, 0.15) 0px 3px 6px 0px;*/
}
nav.app-nav li:hover ul {
  z-index: 1;
}
nav.app-nav li a {
  word-break: keep-all!important;
}
body.sticky nav.app-nav {
  position: fixed;
}
nav.app-nav i,
nav i {
  margin-right: 0!important;
}
/* 小屏幕显示打开/关闭 app-nav 按钮 */
@media only screen and (max-width: 768px) {
  nav.app-nav {
    width: 125px;
  }
  nav.app-nav {
    max-width: 45px;
    opacity: 0.6;
    right: 0 !important;
    margin-right: 0 !important;
    background: #fff;
  }
  nav.app-nav:hover {
    max-width: inherit;
    opacity: 1;
  }
  /*nav.app-nav:after {
    padding-right: 10px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "🛸";
  }*/
  nav.app-nav li {
    pointer-events: none;
  }
  nav.app-nav li ul {
    max-height: calc(100vh - 251px);
  }
  nav.app-nav li ul:last-child {
    max-height: calc(100vh - 321px);
  }
}
.close nav.app-nav {
  width: 100%;
}

/* 列表中间间隔线 -start */
.app-nav>ul>li:after {
  content: '';
  background-color: rgba(180,180,180,.3);
  width: 1px;
  position: absolute;
  top: 10px;
  right: -15px;
  bottom: 10px;
}
.app-nav>ul>li:last-child:after {
  content: none;
}
/* 列表中间间隔线 -end */

/* 滚动条样式 start */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  /*background: #c0c4cc;
  background: #33a9dc;
  background-image: linear-gradient(#6ecd56, #33a9dc, #cb6196, #c16290);*/
  background: rgba(136,136,136,0.4);
  border-radius: 2em;
}
/* 滚动条样式 end */

/* Font icon */
.mysql-icon:before {
  font-family: Mfizz,serif;
  font-size: 14px;
  content: "\f137";
  top: 1px;
}
.redis-icon:before {
  font-family: Mfizz,serif;
  font-size: 15px;
  content: "\f14f";
  top: 1px;
}
.tag-icon:before {
  font-family: octicons,serif;
  font-size: 16px;
  content: "\f015";
  top: 1px;
}
.mongodb-icon:before {
  font-family: Mfizz,serif;
  font-size: 16px;
  content: "\f135";
  top: 1px;
}

/* Tag a */
a {
  /* 单词中断 */
  /*word-break: break-word!important;*/
  word-break: break-all!important;
  word-wrap: break-word!important;
}

/* 横线/分割线 hr */
hr {
  height: 0;
  line-height: 0;
  margin: 5px 0;
  padding: 0;
  border: none!important;
  /*border-bottom: 1px solid #eee!important;*/
  border-bottom: 1px solid rgba(180, 180, 180, .3)!important;
  clear: both;
  overflow: hidden;
  background: 0 0;
}

/* 外链添加 FontIcon */
:not(header a)[target=_blank]:after {
  /*font-family: 'remixicon' !important; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\ecae";*/
  display: inline-block;
  padding-left: 3px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f08e";
  vertical-align: text-bottom;
}
/* 代码 */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://gstatic.loli.net/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
code:not([class*=lang-]):not([class*=language-]):after {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: "content_copy";
  font-size: inherit;
  margin-block: 0;
  margin-inline: 4px 0;
  vertical-align: middle;
  cursor: pointer;
}*/
/*
 * 代码块
 * @url _assets/libs/docsify-copy-code.js
 */
.markdown-section code:not([class*=lang-]):not([class*=language-]) {
  margin: 0 0.15em;
  padding: 0.125em 0.4em;
  border-radius: 2px;
  background: #f2f2f2;
  color: #333;
  white-space: break-spaces;
  word-wrap: break-word;
  word-break: break-all;
  opacity: 0.75;
}
.markdown-section code:not([class*=lang-]):not([class*=language-]):active {
  background-color: hsla(220,14%,93%,1);
  border-color: rgba(31,35,40,0.15);
  transition: none;
}
.markdown-section code:not([class*=lang-]):not([class*=language-]):hover {
  background-color: #f3f4f6;
  border-color: rgba(31,35,40,0.15);
  transition-duration: .1s;
  text-decoration: none;
}
.content .markdown-section pre[data-lang] {
  position: relative;
  overflow: hidden;
  margin: 1em 0;
  padding: 0;
  border-radius: 4px;
}
.content .markdown-section code {
  color: #454647;
  background-color: #f2f2f2;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
.markdown-section pre[data-lang] code {
  display: block;
  overflow: auto;
  /*padding: 0.75rem;*/
  padding: 1.25rem;
}
.content .markdown-section pre>code {
  color: inherit;
  background: inherit;
  boder: inherit;
  border-radius: inherit;
  margin: 0;
}
.content .markdown-section pre {
  /*background-color: #e6f6f8;*/
  overflow-y: auto;
}
body .docsify-copy-code-button {
  /*border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;*/
  border-radius: 0;
  background: #808080;
  color: #fff;
  padding: 5px;
}
.docsify-copy-code-button.error .error,
.docsify-copy-code-button.success .success {
  right: 80%;
  padding: 5px;
}

em,
u {
  /* 单词中断 */
  word-break: break-word!important;
  word-break: break-all!important;
  word-wrap: break-word!important;
}
/* Table */
.markdown-section td,
.markdown-section th,
.markdown-section td code {
  white-space: nowrap!important;
}
