// im图标跳动
@keyframes im_icon {
    0% {
        opacity: 0.8;
        transform: translate(0,0);
    }
    50% {
        opacity: 1;
        transform: translate(0,3px);
    }
    100% {
        opacity: 0.8;
        transform: translate(0,0);
    }
}

@-webkit-keyframes im_icon {
    0% {
        opacity: 0.8;
        transform: translate(0,0);
    }
    50% {
        opacity: 1;
        transform: translate(0,3px);
    }
    100% {
        opacity: 0.8;
        transform: translate(0,0);
    }
}

.im {
    margin-top: -4px;
    margin-left: 10px;
    cursor: pointer;
    animation:  im_icon 1s linear infinite;
    -webkit-animation:  im_icon 1s linear infinite;
}

.love {
    display: inline-block;
    position: relative;
    top: .2em;
    font-size: 1.4em;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse
}

@-webkit-keyframes love {
    to {
        -webkit-transform: scale(1.2)
    }
}

@-moz-keyframes love {
    to {
        -moz-transform: scale(1.2)
    }
}

@keyframes love {
    to {
        transform: scale(1.2)
    }
}
